<h1 class="heading">About Flashcards</h1>
  <p>Flashcards was created at Dev Bootcamp. Right now subjects offered include Music, Computer Science and Basic Math. Check back soon for more topics.</p>
  <p>Source code <a href="https://github.com/clr2107/flashcards">here.</a></p>