<h3>Add some cards to your deck</h3>
<form action="/cards" method="post">
  <label for="question">Question:</label>
  <input type="text" name="card[question]" placeholder="type question here">
  <label for="answer">Answer:</label>
  <input type="text" name="card[answer]" placeholder="type answer here">
  <input type="hidden" name="card[deck_id]">
  <input type="submit" value="Submit">
</form>